@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

body*{
    box-sizing: border-box;
}
body{
    padding-left:0;
    background: #e6e9f0;
    font-family: Oswald, sans-serif;
}
.buttonHome{
    all: unset;
    width : 100px;
    padding: 4px 4px;
    border-radius: 16px;
    background-color: #c5c7d6;
    text-align: center;
    transition: background-color 2s;
    left: 10px;
    top: 5px;
    position:absolute;
}
.buttonHome:hover{
    background-color: rgb(129, 129, 138);
}
.buttonExperience{
    all: unset;
    width : 100px;
    padding: 4px 4px;
    border-radius: 16px;
    background-color: #c5c7d6;
    text-align: center;
    transition: background-color 2s;
    left: 120px;
    top: 5px;
    position:absolute;
}
.buttonExperience:hover{
    background-color: rgb(129, 129, 138);
}
.buttonProject{
    all: unset;
    width : 100px;
    padding: 4px 4px;
    border-radius: 16px;
    background-color: #c5c7d6;
    text-align: center;
    transition: background-color 2s;
    left: 230px;
    top: 5px;
    position:absolute;
}
.buttonProject:hover{
    background-color: rgb(129, 129, 138);
}
.ground{
    position: relative;
    border-radius: 2%;
    height: 700px;   
    width: 500px;
    background-color: #4d4e5c;
    left: 40px;
    top: 50px;
}
.avatar{
    border-radius: 100%;
    position: absolute;
    top: 90px;
    left: 140px;
}
.circleAvatar{
    border-style:solid;
    border-width: 40px;
    border-color: #4d4e5c;
    height: 202px;
    width: 202px;
    position: absolute;
    left: 105px;
    top: 65px;
    border-radius: 100px;
}
.name{
    text-transform: uppercase;
    color: #4d4e5c;
    font-size: 90px;
    position: absolute;
    left: 650px;
    top: 207px;
}
.ambition{
    text-transform: uppercase;
    color: #2d2d32;
    font-size: 30px;
    position: absolute;
    left: 650px;
    top: 327px;
}
.aboutMe{
    text-transform: uppercase;
    color: white;
    font-size: 30px;
    position: absolute;
    left: 190px;
    top: 327px;
}
.about{
    width: 270px;
    height: 300px;
    text-transform: uppercase;
    text-align: justify;
    color: white;
    font-size: 18px;
    position: absolute;
    left: 130px;
    top: 397px;
}
.emailAdress{
    width: 270px;
    height: 300px;
    text-transform: none;
    color: wheat;
    font-size: 18px;
    position: absolute;
    left: 700px;
    top: 57px;
}
.imgEmail{
    position:absolute;
    left:650px;
    top:57px;
}
.phoneNumber{
    position:absolute;
    left:1100px;
    top:61px;
}
.imgPhone{
    position: absolute;
    left:1055px;
    top:56px;
}
.gitHub{
    position: absolute;
    left: 700px;
    top: 105px;
}
.imgGitHub{
    position:absolute;
    left:650px;
    top:100px;
}
.formalEducation{
    width: 600px;
    height: 350px;
    background-color: gainsboro;
    position: relative;
    border-radius: 2%;
    left: 600px;
    top: 40px;
}
.theProudProductOf{
    text-transform: uppercase;
    color: #4d4e5c;
    font-size: 40px;
    position: absolute;
    left: 20px;
    top: 20px;
}
.iium{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight:bold;
    position: absolute;
    left: 130px;
    top: 100px;
}
.iiumDescription{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 130px;
    top: 120px;
}
.imgIIUM{
    position:absolute;
    left:40px;
    top:90px;
}
.uthm{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight:bold;
    position: absolute;
    left: 130px;
    top: 180px;
}
.uthmDescription{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 130px;
    top: 200px;
}
.imgUTHM{
    position:absolute;
    left:18px;
    top:192px;
}
.tamingTech{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    font-weight:bold;
    position: absolute;
    left: 130px;
    top: 260px;
}
.tamingTechDescription{
    text-transform: uppercase;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 130px;
    top: 280px;
}
.experience{
    width: 1000px;
    height: 400px;
    background-color: white;
    position: relative;
    border-radius: 2%;
    left: 60px;
    top: 80px;
}
.myExperience{
    text-transform: uppercase;
    color: #4d4e5c;
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 20px;
}
.ctrm{
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    left: 40px;
    top: 100px;
}
.ctrmDescription{
    text-transform: none;
    text-align: justify;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 350px;
    top: 150px;
    right: 20px;
}
.ctrmImg{
    position:absolute;
    left:18px;
    top:152px;
}
.projects{
    width: 1450px;
    height: 1200px;
    background-color: white;
    position: relative;
    border-radius: 2%;
    left: 20px;
    top: 130px;
}
.myProjects{
    text-transform: uppercase;
    color: #4d4e5c;
    font-size: 40px;
    position: absolute;
    left: 40px;
    top: 20px;
}
.bannerTraining{
    text-transform: uppercase;
    color: black;
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    left: 40px;
    top: 100px;
}
.bannerDescription{
    text-transform: none;
    text-align: justify;
    color: black;
    font-size: 20px;
    position: absolute;
    left: 420px;
    top: 900px;
    right: 40px;
}
.imgBanner{
    position:absolute;
    left:22px;
    top:152px;
}